joblib
scikit-learn
statsmodels
geopy
pyshp
shapely
matplotlib
pydeck
datetime
pydeck
GitPython
PyMongo
networkx
osmnx
folium
ipython
bs4
requests
streamlit-authenticator
pathlib
PyGithub
audio_recorder_streamlit
